<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>营服报表</title>
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css" />
    <script type="text/javascript" src="../static/js/jquery.js" />
    <script type="text/javascript">
        var showTableHtml;
        $(function () {
            initTable();
            $("#showTable").html(showTableHtml);//显示初始数据表格
        });

    </script>
</head>
<body style="background-color: #E0FFFF;">
<script>
    function getCampDataList() {
        var gateway_cycle = document.getElementById("gateway_cycle").value;
        var mkt_campaign_name = document.getElementById("mkt_campaign_name").value;
        var script_name = document.getElementById("script_name").value;

        $.ajax({
            type:"POST",
            url:"/report/assessment/getCampDataList",
            dataType:"json",
            data:{
                "gateway_cycle":gateway_cycle,
                "mkt_campaign_name":mkt_campaign_name,
                "script_name":script_name
            },
            async:true,
            success:function (result) {
                initTable();//为了清除展示的历史数据
                for (var i = 0; i < result.length; i++) {
                    var target = result[i];
                    showTableHtml += "<tr><td>" + target.gateway_cycle + "</td><td>"
                        + target.mkt_campaign_id + "</td><td>"
                        + target.mkt_campaign_name + "</td><td>"
                        + target.content_tpl_id + "</td><td>"
                        + target.script_name + "</td><td>"
                        + target.event_code + "</td><td>"
                        + target.send_sms_total + "</td><td>"
                        + target.gateway_succ_commit + "</td><td>"
                        + target.success_send + "</td><td>"
                        + target.success_send_ratio + "</td><tr>";
                }

                showTableHtml += "</tbody></table>";
                $("#showTable").html(showTableHtml);//加载数据表格

                exportToExcel();
            },
            error:function () {
                alert("error");
            }
        });

    }

    function initTable(){
        showTableHtml = '<table class="table table-hover">';
        showTableHtml += "<thead>\n" +
            "            <th>账期</th>\n" +
            "            <th>服务场景ID</th>\n" +
            "            <th>服务场景名称</th>\n" +
            "            <th>短信模板ID</th>\n" +
            "            <th>短信模板名称</th>\n" +
            "            <th>事件编码</th>\n" +
            "            <th>发送短信数</th>\n" +
            "            <th>提交网关数</th>\n" +
            "            <th>发送成功数</th>\n" +
            "            <th>触达率</th>\n" +
            "        </thead><tbody>";
    }

    function exportToExcel() {
        var gateway_cycle = document.getElementById("gateway_cycle").value;
        var mkt_campaign_name = document.getElementById("mkt_campaign_name").value;
        var script_name = document.getElementById("script_name").value;

        $.ajax({
            type:"POST",
            url:"/report/assessment/exportToExcel",
            dataType:"json",
            data:{
                "gateway_cycle":gateway_cycle,
                "mkt_campaign_name":mkt_campaign_name,
                "script_name":script_name
            },
            async:true,
            success:function (result) {
                //alert(result.data);
            },
            error:function (result) {
                //alert(result);
            }
        });
    }
</script>

<div class="row">
    <div class="col-md-1">账期</div>
    <div class="col-md-2">
        <input type="text" id="gateway_cycle" placeholder="请输入账期">
    </div>
    <div class="col-md-1">场景名称</div>
    <div class="col-md-2">
        <input type="text" id="mkt_campaign_name" placeholder="请输入服务场景名称">
    </div>
    <div class="col-md-1">短信名称</div>
    <div class="col-md-2">
        <input type="text" id="script_name" placeholder="请输入短信名称">
    </div>
    <div class="col-md-1">
        <button class="btn btn-default" onclick="getCampDataList()">查询</button>
    </div>
    <!--<div class="col-md-1">
        <button class="btn btn-default" onclick="exportToExcel()">全部导出</button>
    </div>-->
    <div class="col-md-1">
        <button class="btn btn-default" style="color: #fff3f3">
            <a href="/xjl/camp_report.xls" download="">下载</a>
        </button>
    </div>

</div>

<!-- 数据表格 -->
<div id="showTable"></div>

</body>
</html>
